/ The footer at the bottom of every page

footer
  .left
    span
      | Brought to you by...
    span
      | (c) 2022

  .right
    span
      = I18n.t('covid-lab.footer.poweredBy')
    a href="/about" target=:_blank
      img src="/images/logos/logo_squish_fitted.svg"
