/ The main layout for all COVID lab pages
doctype html
html lang="en-US" 
  head
    / The stylesheet (stylesheets/styles.scss)
    link rel='stylesheet' type='text/css' href='/stylesheets/plugins/covid-lab/styles.css'

    / Favicons
    link rel='icon'       sizes='32x32'   href='/covid-lab/assets/favicon-32.png'

    title
      | COVIDLab

  body
    == partial(:header)
    article
      == yield
    == partial(:footer)
    script type="text/javascript" src="/covid-lab/assets/tablefilter/tablefilter.js"
    script type="text/javascript" src="/covid-lab/assets/js/app.js"
