/ This page shows a list of models

h1
  = I18n.t('covid-lab.models.header')

ul.models
  / For every model in our list, we will render it
  - @models.each do |model|
    li.model
      / A link to the model page itself
      a href="/covid-lab/models/#{model.id}"

      / Get the icon of the Occam object
      .icon
        == svg(:objects, model.info[:type], :class => :icon)

      / Render the name of the object
      .info
        / The Occam object type
        span.type
          = model.info[:type]

        / The name of the model
        span.name
          = model.info[:name]

        / The author of the model
        span.author
          img.avatar src=model.identity.person.avatarURL(16)
          span.name
            = model.identity.person.info[:name]

      / The summary of the model script
      .description
        span.summary
          - if model.info[:summary].nil? || model.info[:summary] == ""
            - model.info[:summary] = "-"
          = model.info[:summary]
